<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to the new site</title>
  </head>
  <body>
    <div>
      <h2>Your purchase was rejected</h2>
      <li>
        <%= @message %>
      </li>
    </div>
  </body>
</html>