<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Products you liked reaches a sotck of 3</h1>
    <ul>
      <% @products.each do |product| %>
      <li>
        <p><%= product.name %></p>
        <% if product.image.attached? %>
          <img src="<%= product.image.variant(:thumb).processed.url %>" alt="Product image">
        <% end %>
      </li>
    <% end %>
    </ul>
  </body>
</html>