<h1>Current Card</h1>
<p> <%= notice %></p>
<div>
  <ul>
    <% @cart.order_lines.each do |order_line| %>
      <li>
        <div>
          <h3>
            <%= order_line.product.name %>
          </h3>
          <p>
            <%= order_line.quantity %>
          </p>
          <p>
            $ <%= order_line.price %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>