<h1>Edit Line</h1>
<%= form_with url: order_line_path(@id), method: :patch do |form| %>
  <div>
    <%= form.label :quantity, style: 'display: block' %>
    <%= form.text_field :quantity, value: @current_virtual_line['quantity'] %>
  </div>
  <div>
    <%= form.submit 'Update Line' %>
  </div>
<% end %>